# Analizando tiburones

In [33]:
#primero importo los módulos que necesito para trabaja
#PAISES EN LOS QUE SON MAS DESCUIDADOS (HOMBRES/MUJERES)
import pandas as pd
import re

In [163]:
#abro el csv que contiene el data set
shark=pd.read_csv("input/attacks.csv", encoding='cp1252')

In [164]:
sharks_data=pd.DataFrame(shark)

In [224]:
sharks_data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [225]:
sharks_data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [226]:
#el último field que aparece en la descripción del csv en kaggle es investigador 
#eliminamos el resto de columnas que le siguen
sharks=sharks_data[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source']]

In [227]:
#no tiene ningún sentido analizar aquellos datos que no tienen un case number (no están registrados) por lo que los vamos a eliminar
sharks1=sharks[(sharks["Case Number"].isnull()==0)&(sharks["Case Number"]!='0')&(sharks["Case Number"]!='xx')]
sharks1.tail(100)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
6202,ND-0119,Before 1963,0.0,Unprovoked,DJIBOUTI,Gulf of Tadjoura,NaN,A dhow capsized,Passenger & crew,NaN,NaN,FATAL,Y,NaN,NaN,A. C. Doyle
6203,ND-0118,1896-1913,0.0,Unprovoked,LIBYA,Cyrenaica,Kirinaiki,Sponge diving,a diver from Kalymnos,M,NaN,FATAL,Y,NaN,NaN,M. Bardanis
6204,ND-0116,Before 1936,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Net-fishing,August Eichmann,M,NaN,Calf bitten,N,NaN,NaN,"Courier-Mail, 1/11/1936"
6205,ND-0115,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,"Point Halsey, Wellington",NaN,Kai-tawaro,M,NaN,FATAL,Y,NaN,NaN,"Evening Post, 6/8/1912"
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,Hand severed,N,NaN,NaN,National Georgraphic Television
6207,ND-0113,Before 1911,0.0,Unprovoked,VIETNAM,NaN,NaN,Bathing,male,M,NaN,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/ 1911"
6208,ND-0111,Before 1901,0.0,Unprovoked,SRI LANKA,Northern Province,Mannar,Fishing?,male,M,NaN,Foot bitten,N,NaN,NaN,Gould & Pyle
6209,ND.0110,"No date, late 1960s",0.0,Unprovoked,VENEZUELA,Los Roques Islands,NaN,Spearfishing,4 French divers,M,NaN,"FATAL (x3), one survived with minor injuries",Y,NaN,said to involve 2.5 m hammerhead sharks,http://waterco.com.br/ataque_tubarao.htm
6210,ND-0109,Before 2006,0.0,Unprovoked,USA,Florida,"Tampa Bay, Hillsborough County",Wade-fishing,Ed Snyder,M,NaN,"No injury, shark rammed his back",N,NaN,NaN,Fishingworld.com
6211,ND-0108,Before 2003,0.0,Unprovoked,GREECE,Dodecanese Islands,Near Symi Island,Free diving for sponges,male,M,NaN,FATAL,Y,NaN,NaN,M. Kalafatas
6212,ND-0107,Before 2004,0.0,Boat,MOZAMBIQUE,Inhambane Province,Off Inhambane,Fishing,"4.8-metre skiboat, Occupants: Rod Salm & 4 fri...",NaN,NaN,"No injury to occupants, shark bumped boat",N,NaN,Whale shark,South African Shark Attack File
6213,ND-0106,Before 1962,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Murray Bay, Robben Island",Swimming,"male, a mental patient",M,NaN,"FATAL, body not recovered",Y,NaN,NaN,"L.Green, A Decent Fellow doesn't Work, p.225"
6214,ND.0104,1950s,0.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Helmet diving,male,M,NaN,"No injury, helmet bitten",N,NaN,Tiger shark,"A. Seekee & R. Callinan, Courier-Mail, 7/7/199..."
6215,ND.0102,"No date, Before 1963",0.0,Unprovoked,BAHREIN,NaN,NaN,Pearl diving,male,M,NaN,FATAL,Y,NaN,Tiger shark,A.C. Doyle
6216,ND.0100,2003?,0.0,Unprovoked,BAHAMAS,Andros Islands,Great Guana Cay,Spearfishing,C.D. Dollar,M,NaN,Swim fin bitten,N,NaN,1.8 m [6'] shark,"R.D. Weeks, GSAF"
6217,ND.0097,No date,0.0,Unprovoked,USA,Florida,"Key West, Monroe County",Kitesurfing,Paul Menta,M,NaN,Hand bitten,N,NaN,NaN,Internet
6218,ND.0096,No date,0.0,Unprovoked,REUNION,Grand'Anse,Petite-île,yachtsman in a zodiac,NaN,M,NaN,Survived,N,NaN,NaN,G. Van Grevelynghe
6219,ND.0095,Before Feb-1998,0.0,Unprovoked,SOLOMON ISLANDS,Malaita Province,Waibana Passage,Diving,Albert Raiti,M,NaN,Lacerations to hands and knee,N,NaN,NaN,"Islands Magazine, 2/1998, p.76"
6220,ND.0094,"No date, Before May-1996",0.0,Unprovoked,KOREA,South Korea,Cheju Island,Diving,"female, a Hae Nyeo",F,NaN,"FATAL, injured while diving, then shark bit her",Y,NaN,NaN,"K. Amsler, Divernet.com"
6221,ND.0093,"No date, Before Mar-1995",0.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,Rangiroa,Fishing,male,M,NaN,"Speared a shark, fell overboard and another sh...",N,NaN,NaN,J. Windh
6222,ND.0091,Before 1996,0.0,Unprovoked,SUDAN,Red Sea State,Sha'ab Rumi,Diving,Erik Bjurstrom,M,NaN,"No injury, BC ripped",N,NaN,Silvertip shark,"E. Bjurstrom,"
6223,ND.0090,"No date, Before Aug-1989",0.0,Unprovoked,VANUATU,Malampa Province,Malakula,NaN,female,F,NaN,FATAL,Y,NaN,NaN,S. Combs
6224,ND.0089,"No date, Before Aug-1987",0.0,Provoked,VANUATU,Malampa Province,"Hokai, Malakula",Attempting to drive shark from area,a chief,M,NaN,Speared shark broke outrigger of canoe throwin...,N,NaN,A large hammerhead shark,S. Combs
6225,ND.0088,"No date, Before 1987",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,Mr. Jabar-Kaaby,M,NaN,Foot severed,N,NaN,Bull shark,B. Coad & F. Papahn
6226,ND.0087,"No date, Before 1975",0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,19,"Ankle punctured & lacerated, hands abraded PRO...",N,NaN,"Nurse shark, 2.1 m [7']","R. Skocik, p.176"
6227,ND.0086,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,Dan Hogan,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,NaN,Questionable,"F. Dennis, pp.15-16"
6228,ND.0085,"No date, Before 1969",0.0,Unprovoked,RED SEA?,NaN,NaN,Free diving,Jill Reed,F,NaN,"Shoulder scratched, swim fin bitten",N,Morning,NaN,"Captain T. Falcon-Barker, pp. 91-93"
6229,ND.0084,"No date, Before 3-Jan-1967",0.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Keiskamma River mouth,Crossing river on a raft,Sinsa,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"Whitaker, The Sun, 1/3/1967"
6230,ND.0083,"No date, Before 1963",0.0,Unprovoked,USA,California,"LaJolla, San Diego County","Free diving, collecting sand dollars",Charles Fleming,M,NaN,Calf bitten,N,NaN,"Shovelnose guitarfish, adult male","C. Limbaugh in Sharks & Survival, pp.77-78"
6231,ND.0082,"No date, Before 8-May-1965",0.0,Unprovoked,GREECE,Island of Volos,Eastern shore,Swimming,woman,F,NaN,FATAL,Y,NaN,NaN,"Sydney Morning Herald, 5/8/1965"
6232,ND.0081,"No date, Before 1963",0.0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,NaN,NaN,Invalid,B. Sojka & D. Lloyd
6233,ND.0078,"No date, Before 1902",0.0,Unprovoked,USA,Florida,"Mosquito Inlet (Ponce Inlet), Volusia County",Canoeing,male,M,NaN,FATAL,Y,NaN,NaN,"W.H. Gregg, p.19; L. Schultz & M. Malin, ..."
6234,ND.0076,"No date, Before 1902",0.0,Unprovoked,MEDITERRANEAN SEA,NaN,NaN,NaN,"male, a ship carpenter",M,NaN,FATAL,Y,NaN,NaN,"W.H. Gregg, p.22; L. Schultz & M. Malin, ..."
6235,ND.0075,"No date, Before 1963",0.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Diving for trochus,male,M,NaN,Calf removed,N,NaN,0.9 m [3'] shark,"G.P. Whitley (1952), p.192, cites A. Marshall"
6236,ND.0074,"No date, After August 1926 and before 1936",0.0,Unprovoked,AUSTRALIA,Western Australia,Cossack Creek,Pearl diving,Ted Luck,M,NaN,Leg bitten,N,NaN,NaN,"N. Caldwell; T. Peake, GSAF"
6237,ND.0073,"No date, Before 1963",0.0,Unprovoked,SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,NaN,Recovered,N,NaN,NaN,"V.M. Coppleson (1958), p.266"
6238,ND.0069,Before 1962,0.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,Dalton Baldwin,M,27,"No injury, bumped by shark which took speared ...",N,NaN,1.8 m [6'] shark,"V. M. Coppleson (1962), p.253"
6239,ND.0068,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,36,Bumped by sharks,N,NaN,"""A pack of sharks""",L. Bishop; V.M. Coppleson (1962)
6240,ND.0066,Before 1961,0.0,Unprovoked,SEYCHELLES,Amirante Islands,Marie Louise Island,Swimming from capsized pirogue,Aristede,M,NaN,FATAL,Y,NaN,Tiger shark,"Travis, pp. 326-327"
6241,ND.0065,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Fishing from a small boat & put his hand in th...,male,M,25,Right hand severed,N,Afternoon,NaN,B.W. Coad & L.A.J. Al-Hassan
6242,ND.0064,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Arm severed,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan
6243,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan
6244,ND.0062,Before 1960,0.0,Unprovoked,BAHAMAS,Andros Islands,NaN,NaN,"male, a sponge Diver",M,NaN,Lower leg and forearm severed,N,NaN,"White shark, 7' to 8'","Star-Ledger (Newark, NJ), 8/22/1960"
6245,ND.0060,Before 19-Jun-1959,0.0,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,Leg injured,N,NaN,"White shark, 1,900-lb","B. Walton, Sun (San Bernardino), 6/19/1959"
6246,ND.0059,Before 24 Apr-1959,0.0,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,Shoulder abraded by skin of shark,N,NaN,NaN,Mentioned in letter from L. S. Mowbray dated 4...
6247,ND.0058,Before 1958,0.0,Unprovoked,FIJI,Kadavu Island Group,"18.8S, 178.25E",Swimming with fish attached to belt,Fijian girl,F,NaN,"""Severely injured when fish were seized by shark""",N,NaN,NaN,"V.M. Coppleson (1958), p.259"
6248,ND.0057,Before 1958,0.0,Unprovoked,MADAGASCAR,Toamasina Province,Tamatave,Bathing,male,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.259"
6249,ND.0056,Before 1958,0.0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,Horton Chase,M,NaN,Abrasions & bruises hip to ankle,N,NaN,NaN,"V.M. Coppleson (1956), p.255; R.F. Hutton"
6250,ND.0055,Before 1958,0.0,Provoked,BAHAMAS,Andros Islands,Middle Bight,Testing movie camera in full diving dress,John Fenton,M,NaN,Shark bit diver's sleeve after he patted it on...,N,NaN,"Nurse shark, 2.1 m [7']","V.M. Coppleson (1958), p.97"
6251,ND.0054,Before 1958,0.0,Unprovoked,INDONESIA,Riau Province,"Natuna Islands, between Sumatra & Kalimantan i...",Swimming near anchored ship,a ship's engineer,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"C.H. Townsend, p. 172; V.M. Coppleson, p.258"
6252,ND.0053,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,"Malwan, near Ratnagiri",NaN,male,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.261"
6253,ND.0052,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),A village north of San Carlos,Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",Y,NaN,"Bull shark caught, leg recovered & buried besi...","F. Poli, pp.150-153"
6254,ND.0051,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN,NaN,"F. Poli, pp.75, 81-83"
6255,ND.0049,Before 1956,0.0,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,NaN,Swimming,male,M,NaN,Buttocks bitten,N,NaN,NaN,J.E. Lasch
6256,ND.0048,Before 1956,0.0,Unprovoked,KIRIBATI,Phoenix Islands,Canton Island,Diving,Dusty Rhodes,M,NaN,No injury,N,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19"
6257,ND.0047,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,Wake Island,"Fishing, wading with string of fish",male,M,NaN,Survived,N,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19"
6258,ND.0046,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,Nonouti,NaN,Gilbertese fisherman,M,NaN,FATAL,Y,NaN,NaN,"Grimble, pp. 142-143"
6259,ND.0044,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69"
6260,ND.0043,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,"Munda Island, Roviana Lagoon",Floating on his back,American male,M,NaN,Buttock bitten,N,NaN,NaN,"W. Chapman (1949) Fishing in Troubled Waters, ..."
6261,ND.0042,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,Thursday Island?,Free diving,Mortakee,M,NaN,Head bitten,N,NaN,NaN,Press clipping dated 6/28/1950
6262,ND.0041,"Said to be 1941-1945, more likely 1945",0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",Fishing in ankle-deep water,an old fisherman,M,NaN,"FATAL, foot lacerated & crushed",Y,NaN,NaN,"Lt. Col. R.S. Hunt, pp. 80-81"
6263,ND.0040,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River",NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",Y,NaN,NaN,Lt. Col. R.S. Hunt of the Royal Army Medical Corp
6264,ND.0039,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Ahvaz, on the Karun River","Standing, washing rear wheels of his ambulance...",I.A.S. C. driver,M,NaN,"FATAL, fell into water when shark seized his r...",Y,NaN,NaN,"Lt.Col. R.S. Hunt, p.79"
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan
6266,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"FATAL, died of sepsis",Y,NaN,"""a black-tipped shark""",G.F. Mead
6267,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,NaN,Buttocks bitten,N,NaN,6' shark,G.F. Mead
6268,ND.0035,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,NaN,"Foot lacerated, surgically amputated",N,NaN,NaN,G.F. Mead
6269,ND.0034,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,NaN,NaN,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,NaN,FATAL,Y,NaN,NaN,G. Llano
6270,ND.0033,Before 1905,0.0,Provoked,BURMA,NaN,NaN,Carrying a supposedly dead shark by its mouth,boy,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,N,NaN,NaN,"Massillon Independent, 3/1905"
6271,ND.0032,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. George’s Channel,Spent 8 days in dinghy,pilot,M,NaN,"No injury, but shark removed the heel & part o...",N,NaN,NaN,"G.A. Llano in Airmen Against the Sea, p.69; V...."
6272,ND.0031,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,N,NaN,NaN,"V.M. Coppleson (1962), p.257"
6273,ND.0030,Before 1905,0.0,Unprovoked,BURMA,NaN,NaN,Bathing,male,M,NaN,Fatal x 2,Y,NaN,NaN,"Massillon Independent, 3/1905"
6274,ND.0028,A few years before 1938,0.0,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,No injury to occupant; shark capsized boat,N,NaN,White shark,A. De Maddalena; Anon. (1938)
6275,ND.0027,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,N,NaN,NaN,M. N. Kalafatas
6276,ND.0026,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges
6277,ND.0025,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN,H. Capper
6278,ND.0024,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,Y,NaN,NaN,G. Van Grevelynghe
6279,ND.0023,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,N,NaN,NaN,"L. Green in Tavern of the Seas, p.182"
6280,ND.0022,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,N,NaN,NaN,"Adelaide Advertiser, 1/11/1940"
6281,ND.0021,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"L. Green in South African Beachcomber, p.97"
6282,ND.0020,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241"
6283,ND.0019,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219"
6284,ND.0018,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/1911"
6285,ND.0017,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6286,ND.0016,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192..."
6287,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN,"Fijian Society papers presented April 17, 1918..."
6288,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",N,NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916"
6289,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,"Rural New Yorker, 7/19/1913"
6290,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913"
6291,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911"
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui..."
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui..."
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In [228]:
#al ver la tabla, nos damos cuentas que la columna year y date no coinciden (hay muchos casos en los que el year es  pero la columna date sí que tiene un año asignado)
#vamos a intenar que haya una cierta coherencia entre ambas columnas
#busamos en la columna date los años
def findYear(x):
    res=re.search(r'\d{4}',x)
    if res:
        x=int(res.group())
    else:
        x='no'
    return x
sharks1["Date"]=sharks1["Date"].apply(findYear)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [229]:
sharks1.loc[sharks1["Year"]=='0',"Year"]=sharks1["Date"]

/usr/local/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [230]:
shark_years=sharks1[sharks1["Date"]!='no']
data=shark_years[["Case Number","Date","Type","Country","Area","Sex "]]

In [231]:
def findMonth(x):
    res=re.search(r'\.(\w{2})\.', x)
    if res:
        x=res.group(1)
    else:
        x=0
    return x

In [232]:
#buscamos los meses en el case number y aquellos que no tengan un mes definido los eliminamos
data["Case Number"]=data["Case Number"].apply(findMonth)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [234]:
data["Case Number"].value_counts()

07    667
08    598
09    553
01    520
06    499
04    457
12    443
10    441
03    410
11    406
00    399
05    391
02    382
0     115
30      1
Name: Case Number, dtype: int64

In [246]:
data1=data[(data["Case Number"]!=0)&(data["Case Number"]!="00")&(data["Case Number"]!='30')]
data2=data1.rename(columns={"Case Number":"Month", "Date":"Year"})

In [276]:
data3

     Month  Year        Type                   Country             Area Sex
0       06  2018     Boating                       USA       California    F
1       06  2018  Unprovoked                       USA          Georgia    F
3       06  2018  Unprovoked                 AUSTRALIA  New South Wales    M
4       06  2018    Provoked                    MEXICO           Colima    M
5       06  2018  Unprovoked                 AUSTRALIA  New South Wales    M
...    ...   ...         ...                       ...              ...  ...
6155    12  1742  Unprovoked                       NaN              NaN    M
6156    04  1738  Unprovoked                     ITALY           Sicily    M
6159    06  1721  Unprovoked                     ITALY         Sardinia    M
6160    03  1703  Unprovoked                  BARBADOS  Southwest coast    M
6170    01  1580  Unprovoked  Between PORTUGAL & INDIA              NaN    M

[5254 rows x 6 columns]

In [251]:
#como los datos 'invaid' de type no ofrecen ningún tipo de información también los vamos a eliminar
data2.Type.value_counts()

Unprovoked      4181
Provoked         541
Invalid          509
Sea Disaster     220
Boating          184
Boat             125
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [306]:
data3=data2[(data2["Type"]!='Invalid')&(data2["Type"].isnull()==0)]

In [265]:
#aquí analizamos si algún sexo es más proclive a ser atacado por los tiburones
data['Sex '].value_counts()
#efectivamente nos damos cuenta que el número de hombres es mucho superior al de mujeres

M      5076
F       635
N         2
M         2
lli       1
.         1
Name: Sex , dtype: int64

In [318]:
data_country=data3[(data3["Country"]=="AUSTRALIA")|(data3["Country"]=="USA")|(data3["Country"]=="SOUTH AFRICA")]
#hacer bins con los años, ver si ha ido incrementando el self awareness, mirar país sexo y comparación meses y años

In [322]:
data_country.groupby(["Year","Country","Type"]).agg({"Type":"count"}).head(100)

                                Type
Year Country      Type
1751 USA          Unprovoked       1
1771 USA          Unprovoked       1
1780 USA          Unprovoked       1
1788 AUSTRALIA    Boat             1
1803 AUSTRALIA    Unprovoked       1
     USA          Sea Disaster     1
1804 AUSTRALIA    Boat             1
1806 USA          Sea Disaster     1
1807 AUSTRALIA    Unprovoked       1
1810 USA          Unprovoked       1
1816 USA          Unprovoked       1
1817 USA          Unprovoked       1
1829 USA          Unprovoked       1
1830 USA          Unprovoked       1
1831 USA          Boat             1
1832 AUSTRALIA    Unprovoked       2
1837 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       2
1840 AUSTRALIA    Boat             1
                  Unprovoked       1
     USA          Unprovoked       1
1841 AUSTRALIA    Unprovoked       1
1842 USA          Provoked         1
                  Unprovoked       1
1845 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       2
1847 AUSTRALIA    Sea Disaster     1
                  Unprovoked       1
     USA          Unprovoked       2
1848 USA          Unprovoked       1
1849 AUSTRALIA    Unprovoked       3
     USA          Unprovoked       2
1850 USA          Unprovoked       1
1851 USA          Unprovoked       1
1852 AUSTRALIA    Unprovoked       1
     SOUTH AFRICA Sea Disaster     1
                  Unprovoked       1
     USA          Unprovoked       1
1853 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       2
1855 AUSTRALIA    Unprovoked       3
     USA          Sea Disaster     1
1856 AUSTRALIA    Unprovoked       1
1857 USA          Unprovoked       1
1858 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       1
1859 USA          Unprovoked       1
1860 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       1
1861 AUSTRALIA    Unprovoked       1
1862 AUSTRALIA    Unprovoked       1
     SOUTH AFRICA Unprovoked       2
1863 AUSTRALIA    Unprovoked       3
     USA          Provoked         1
                  Unprovoked       1
1864 USA          Sea Disaster     1
                  Unprovoked       1
1865 SOUTH AFRICA Boating          1
     USA          Unprovoked       2
1866 USA          Unprovoked       1
1867 AUSTRALIA    Boating          1
1868 AUSTRALIA    Sea Disaster     1
1869 AUSTRALIA    Unprovoked       1
1870 AUSTRALIA    Unprovoked       2
     USA          Unprovoked       1
1871 USA          Provoked         1
                  Unprovoked       1
1872 AUSTRALIA    Sea Disaster     1
     USA          Unprovoked       1
1873 AUSTRALIA    Unprovoked       1
     USA          Provoked         1
1874 AUSTRALIA    Unprovoked       2
     USA          Unprovoked       2
1875 AUSTRALIA    Unprovoked       1
1876 AUSTRALIA    Unprovoked       2
     USA          Unprovoked       2
1877 AUSTRALIA    Provoked         1
                  Unprovoked       7
1878 AUSTRALIA    Unprovoked       1
     SOUTH AFRICA Sea Disaster     1
     USA          Provoked         1
                  Unprovoked       2
1879 AUSTRALIA    Unprovoked       1
     USA          Unprovoked       1
1880 AUSTRALIA    Boating          1
                  Sea Disaster     1
                  Unprovoked       2
     USA          Boating          1
1881 USA          Unprovoked       3
1882 AUSTRALIA    Unprovoked       5
1883 AUSTRALIA    Unprovoked       5
     USA          Unprovoked       2
1884 AUSTRALIA    Sea Disaster     1
                  Unprovoked       1
     SOUTH AFRICA Unprovoked       1
     USA          Unprovoked       1
1885 AUSTRALIA    Boating          1
                  Unprovoked       1
     SOUTH AFRICA Unprovoked       1
     USA          Sea Disaster     3

In [133]:
#aquí podemos observar que el mayor número de los casos son unprovoked
data3['Type'].value_counts()

Unprovoked      4595
Provoked         573
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [253]:
data2[sharks1['Injury'].isnull()]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

     Month  Year          Type             Country               Area Sex
1270    04  2008    Unprovoked           AUSTRALIA    New South Wales    M
1366    07  2007       Invalid             SENEGAL                NaN  NaN
2250    06  1997    Unprovoked              BRAZIL     Rio de Janeiro    M
2267    12  1996    Unprovoked           AUSTRALIA         Queensland    M
3038    03  1981    Unprovoked              BRAZIL     Rio de Janeiro  NaN
3207    10  1975       Invalid                 USA         California  NaN
3298    08  1973    Unprovoked           AUSTRALIA         Queensland  NaN
3434    05  1969    Unprovoked  DOMINICAN REPUBLIC                NaN    M
3457    09  1968       Invalid                 USA            Florida  NaN
3712    01  1964    Unprovoked           AUSTRALIA  Western Australia  NaN
3838    02  1962          Boat         NEW ZEALAND       North Island  NaN
3841    01  1962    Unprovoked          MOZAMBIQUE               Gaza    M
4060    09  1959          Boat                 USA     South Carolina  NaN
4517    03  1949       Boating           AUSTRALIA    South Australia  NaN
4976    11  1932  Sea Disaster                CUBA                NaN  NaN
5370    05  1912       Invalid        SOUTH AFRICA      KwaZulu-Natal    M
5547    06  1901       Invalid              YEMEN                Aden    M
5965    12  1862       Invalid         NEW ZEALAND       South Island  NaN
6140    12  1784    Unprovoked             JAMAICA                NaN    M

In [161]:
sharks1.isnull().sum().sort_values(ascending=False)

Time                      3353
Species                   2837
Age                       2830
Sex                        565
Activity                   544
Location                   540
Fatal (Y/N)                539
Area                       455
Name                       210
Country                     50
Injury                      28
Investigator or Source      17
Type                         4
Year                         2
Date                         0
Case Number                  0
dtype: int64

In [140]:
#rename sharks and sort by descending
shark_years.groupby(['Country']).agg({'Country':'count'})
shark_years

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2018.06.25,2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,ND.0004,1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,ND.0003,1900,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,ND.0002,1883,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,ND.0001,1845,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker